@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#anasayfa {
    background-color: rgba(6, 96, 129, 0.3)
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Medina1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
nav {
    width: 87%; 
    margin: 0 auto; 
}
.navbar {
    background-color: rgba(151, 212, 212, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0; 
    border-radius: 10px;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}
.navbar-nav {
    justify-content: flex-start;
}
.navbar-brand {
    color: rgb(159, 36, 36);
}
.nav-item {
    list-style: none;
}
.nav-item:hover {
    background-color: rgba(35, 185, 175, 0.121);
    border-radius: 10px;
    cursor: pointer;
}
.nav-link {
    background-color: rgb(55, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
.nav-item a {
    color: rgb(159, 36, 36);
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.navbar-toggler {
    background-color: rgb(159, 36, 36);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    margin-right: 1em;
    transition: 0.5s;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
}
.navbar-toggler-icon {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.navbar-toggler-icon:hover {
   color: rgba(62, 162, 173, 0.495);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none; 
    text-align: center;
    color: white;
    margin-top: -20px;

}
.center h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons {
    margin: 35px 290px;
}
.center-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none; 
    text-align: center;
    color: white;
    margin-top: -20px;
    display: block;

}
.film-img img {
    height: 70%;
    width: 70%;
}
.center-2 h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center-2 .buttons {
    margin: 35px 290px;
}
.buttons button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #0400ff;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.img-fluid {
    max-width: 50%;
    height: auto;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
#Ohodsporbaslik {
    padding-top: 2%;
    text-align: center;
}
.Ohodsporyazi {
    color: white;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}
#Ohodsporslider {
    padding: 3%;
}
#Bursasporslider img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.Medine {
    margin-top: 2%;
    text-align: center;
}
.Medine_tanitim {
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}
.img-fluid {
    padding-top: 5%;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
.container .row .col-md-6 .card .card-body {
    margin-top: 50%; 
}
.movies img {
    max-width: 100px;
    height: auto; 
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.card {
    background-color: rgba(202, 164, 164, 0.715);
    border-radius: 2.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card-body {
    padding: 1rem;
    border-radius: 3.25rem;
    background: #ffffff;
    position: relative;
    bottom: 2rem;
    font-family: 'Budokan Rounded', sans-serif;
    font-size: 1.10rem;
    text-align: center;
    transition: 1s;
}

.card-title {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin-bottom: .5rem;
}
.card-text {
    font-family: 'Raleway', sans-serif;
}

.card-img-container{
    display: block;
    margin: auto;
    position: relative;
   
    
}
.card-img-container-1{
    display: block;
    margin: auto;
    position: relative;
    padding-top: 50vw;
    z-index: -10;
}

#col-ia {
    padding: 6%;
    width: 45%;
    margin-left: 3.2%;
    display: flex;
}
@media(max-width:1000px) {
    .container_cv {
        margin: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
}
.container_cv {
    position: relative;
    width: 100%;
    max-width: 1150px;
    min-height: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 1);
    margin-top: 45vw;
}
.container_cv .left_Side {
    position: relative;
    background-color: #76821f;
    padding: 40px;
}

.container_cv .right_Side {
    position: relative;
    background-color: #fff;
    padding: 40px;

}
.ProfilYazisi {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 0, 0);

}
.ProfilYazisi .imgbx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.ProfilYazisi .imgbx img {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfilYazisi h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.ProfilYazisi h2 span {
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
}
.iletisimbilgileri {
    padding-top: 2%;
}

.iletisimtext {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.iletisimbilgileri ul {
    position: relative;

}

.iletisimbilgileri ul li {
    list-style: none;
    margin: 2% 0;
    cursor: pointer;
}
.iletisimbilgileri ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: coral;
}

.iletisimbilgileri ul li span {
    color: #fff;
    font-weight: 300;
}

.egitimtext {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.egitimbilgileri li {
    list-style: none;
    margin-bottom: 15px;
}

.egitimbilgileri h5 {
    color: #03a9f4;
    font-weight: 500;
}

.egitimbilgileri h4 {
    color: #fff;
    font-weight: 300;
}

.egitimbilgileri h6 {
    color: #fff;
    font-weight: 200;
    text-align: center;
}

.dilbilgileri li {
    list-style: none;
}

.diltext {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.dilbilgileri .text {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.dilbilgileri .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 2%;
}

.dilbilgileri .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: coral;
}

.title2 {
    margin-top: 6%;
}

.yetenekler .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: left;
    align-items: center;
}

.yetenekler .box h4 {
    text-align: left;
    text-transform: uppercase;
    color: #081921;
    font-weight: 600;
}

.yetenekler .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
}

.yetenekler .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: coral;
}
#OzgecmisCv {
    position: relative;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sehrimbody {
    background-color: lightblue;
}
#ilgialanbody {
    background-color: rgb(0, 0, 0);
    background: url(../img/1.jpg) no-repeat center center fixed; 

}
.carousel-item img {
    max-height: 550px;
    width: 100%;
    object-fit: cover;

}
#iletisimdonusbody {
    background-color: aqua;
}

#iletisimbaslik {
    color: white;
}

#iletisimkontrolbaslik {
    color: rgb(24, 144, 209);
}

#basliklar {
    color: rgb(24, 144, 209);
}

#cizgii {
    color: rgb(24, 144, 209);
}

#iconn {
    color: white;
}

.form-group {
    color: white;
}

#footeryazi {
    color: rgb(255, 255, 255);
}


.input-group-text {
    display: inline-block;
}

.Link {
    display: inline-block;
}
.searchBox {
    margin-left: 3%;
}
